App_WebReferences/RegisterServiceReference/LoginService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reviewer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckinLogs" nillable="true" type="tns:ArrayOfCheckinLog" />
      <xs:element minOccurs="0" name="ReviewPlainPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewerDateEntered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewerHashedPass" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ReviewerKey" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewerKeyCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewerUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reviewer" nillable="true" type="tns:Reviewer" />
  <xs:complexType name="ArrayOfCheckinLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CheckinLog" nillable="true" type="tns:CheckinLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckinLog" nillable="true" type="tns:ArrayOfCheckinLog" />
  <xs:complexType name="CheckinLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckInLogKey" type="xs:int" />
      <xs:element minOccurs="0" name="CheckinDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Reviewer" nillable="true" type="tns:Reviewer" />
      <xs:element minOccurs="0" name="ReviewerKey" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckinLog" nillable="true" type="tns:CheckinLog" />
</xs:schema>